{% extends "partials/base.html" %}
{% block title %}Post Edit Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class = 'container '>
    <div class = 'row mt-5 pt-3 '>
        <div class = 'col md-8 offset-md-2 '>
            <!--jo blog container banaya he uske bazumai jobhi he vo ismai ayega..-->
            <div class = 'card shadow my-3 w-75'>
                <div class="card-body">
                   <form  method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-sm" type="submit" value="save">
                   </form>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}