{% extends "partials/base.html" %}
{% block title %}Post Detail Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="sejal">
    <style>
        .sejal {
            background-image: url('/media/profile_background.jpg') !important;
            background-position: center;
            background-size: cover;
            height: max-content;
        }
    </style>


    <div class = 'container'>
        <div class = 'row mt-5 pt-3 '>
            <div class = 'col md-8 offset-md-2 '>
                <!--jo blog container banaya he uske bazumai jobhi he vo ismai ayega..-->
                <div class = 'card shadow my-3 w-75'>
                    <div class="card-body" style="background-color:cornsilk;">
                        <div class="row">
                            <div class="col-md-4">
                                <img class= 'img-thumbnail' width="190px" src="{{ post.author.profilemodel.image.url}}" alt="profile-img">
                            </div>
                            <div class="col-sm-6.col-lg-8" style="font-size: large; font-weight: 450;" >
                            <small> {{post.date_created}}</small>
                            {% if post.author == request.user %}
                            <!--   float-right is  not working instead use float-end  -->
                            <span><a  class="btn btn-danger btn-sm float-end" href="{% url "blog-post-delete" post.id %}" >Delete</a></span>
                            <span><a class="btn btn-primary mx-2 btn-sm float-end" href="{%url 'blog-post-edit' post.id %}">Edit</a></span>
                            {% endif %}
                            <hr>
                            <h4>{{post.title}}</h4>
                            <hr>
                            <p>
                                    {{post.content}}
                            </p>
                            </div>
                        </div>   
                            <p class="mt-3">
                                <a class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                                    Comment: {{post.comment_count}}
                                </a>
                            </p>
                            <div class="collapse show" id="collapseOne" >
                                <div style="height: 250px; overflow-y: scroll;" class="card card-body">
                                {% for comment in post.comment_set.all  %}
                                    <p class="text-justify">
                                        {{ comment.content }}
                                    </p>
                                {% endfor %}
                                </div>
                            </div>
                            <form  method="POST">
                                {% csrf_token%}
                                {{ c_form|crispy}}
                                <input class="btn btn-primary btn-sm" type="submit" value="Comment">
                            </form>
                        </div>   
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock content %}