{% extends "partials/base.html" %}
{% block title %}password reset complete Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="soham">
    <div class = 'container w-50'>
        <div class = 'row mt-5 p-3  '>
            <div class = 'col md-8 offset-md-2'>
                <!--jo blog container banaya he uske bazumai jobhi he vo ismai ayega..-->
                <div class = 'card shadow my-3'>
                    <div class = ' card-body'>
                        <h4>password reset complete Page</h4>
                        <hr>
                        <div class="alert alert-info">
                            Your password reset is succesful.Login with new credientials
                        </div>
                        
                        <a href="{% url 'users-login' %}">Login</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}