{% extends "partials/base.html" %}
{% block title %}password reset done Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="soham">
    <div class = 'container w-50'>
        <div class = 'row mt-5 p-3  '>
            <div class = 'col md-8 offset-md-2'>
                <!--jo blog container banaya he uske bazumai jobhi he vo ismai ayega..-->
                <div class = 'card shadow my-3'>
                    <div class = ' card-body'>
                        <h4>password reset done Page</h4>
                        <hr>
                        <div class="alert alert-info">
                            An mail  will be sent with instructions to reset password has been sent to the email you provided.
                        </div>              
                        <hr>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}